# Prize Draw

To participate in a prize draw each one gives his/her firstname.

Each letter of a firstname has a value which is its rank in the English alphabet. A and a have rank 1, B and b rank 2 and so on.

The length of the firstname is added to the sum of these ranks hence a number som.

An array of random weights is linked to the firstnames and each som is multiplied by its corresponding weight to get what they call a winning number.

## Example

names: "COLIN,AMANDBA,AMANDAB,CAROL,PauL,JOSEPH"
weights: [1, 4, 4, 5, 2, 1]

PauL -> som = length of firstname + 16 + 1 + 21 + 12 = 4 + 50 -> 54
The *weight* associated with PauL is 2 so PauL's *winning number* is 54 * 2 = 108.


Now one can sort the firstnames in decreasing order of the winning numbers. When two people have the same winning number sort them alphabetically by their firstnames.

## Task:
parameters: st a string of firstnames, we an array of weights, n a rank

return: the firstname of the participant whose rank is n (ranks are numbered from 1)

## Note:

If st is empty return "No participants".

If n is greater than the number of participants then return "Not enough participants".

See Examples Test Cases for more examples.

## Cases:

Test.assert_equals(rank("Addison,Jayden,Sofia,Michael,Andrew,Lily,Benjamin", [4, 2, 1, 4, 3, 1, 2], 4), "Benjamin")
Test.assert_equals(rank("Lagon,Lily", [1, 5], 2), "Lagon")
Test.assert_equals(rank("Addison,Jayden,Sofia,Michael,Andrew,Lily,Benjamin", [4, 2, 1, 4, 3, 1, 2], 8), "Not enough participants")
Test.assert_equals(rank("", [4, 2, 1, 4, 3, 1, 2], 6), "No participants")

In [3]:
st_1 = "Addison,Jayden,Sofia,Michael,Andrew,Lily,Benjamin"
we_1 = [4, 2, 1, 4, 3, 1, 2]
n_1=4

In [4]:
st_2 = "Lagon,Lily"
we_2 = [1, 5]
n_2=2

In [5]:
st_3 = "Addison,Jayden,Sofia,Michael,Andrew,Lily,Benjamin"
we_3 = [4, 2, 1, 4, 3, 1, 2]
n_3=8

In [6]:
st_4 = ""
we_4 = [4, 2, 1, 4, 3, 1, 2]
n_4=6

In [211]:
st_5 = "bea,abe,cea"
we_5 = [3, 3, 1]
n_5=1

In [252]:
st_6 = "bea,abe,cea"
we_6 = [3, 3, 1]
n_6=2

In [253]:
st_7 = "bea,abe,cea"
we_7 = [3, 3, 4]
n_7=1

# My Code

In [2]:
def rank(st, we, n):
    pass

In [ ]:
# break the each name into letters

In [393]:
name = "cea"

In [394]:
name_list = [char for char in name.lower()]
name_list

['c', 'e', 'a']

In [395]:
# length of name

In [396]:
len(name_list)

3

In [397]:
# assign a value to each number

In [398]:
ord('a')-96

1

In [399]:
ord('A')-64

1

In [400]:
# sum numbers for each word

In [401]:
name_numb = []
for char in name_list:
    name_numb.append(ord(char)-96)
sum(name_numb)

9

In [402]:
# find 'som' of name (letters + length of name)

In [403]:
som = sum(name_numb) + len(name_list)
som

12

In [404]:
# multiply 'som' by the weight

In [405]:
som * we_5[2]

12

In [60]:
def rank(st, we, n):
    for name in st:
        name_list = [char for char in name.lower()]
        return name_list

In [74]:
def rank(st, we, n):
    name_dict = {}
    for i in st:
        for j in we:
            name_dict.update([(i, j)])
    return name_dict

In [ ]:
# Should have checked the string from the beginning!!!

In [79]:
def rank(st, we, n):
    return st

In [80]:
rank(st_1, we_1, n_1)

'Addison,Jayden,Sofia,Michael,Andrew,Lily,Benjamin'

In [81]:
def rank(st, we, n):
    return st.split(',')

In [82]:
rank(st_1, we_1, n_1)

['Addison', 'Jayden', 'Sofia', 'Michael', 'Andrew', 'Lily', 'Benjamin']

In [83]:
def rank(st, we, n):
    return st.lower().split(',')

In [84]:
rank(st_1, we_1, n_1)

['addison', 'jayden', 'sofia', 'michael', 'andrew', 'lily', 'benjamin']

In [85]:
def rank(st, we, n):
    name_list = st.lower().split(',')
    return name_list

In [86]:
rank(st_1, we_1, n_1)

['addison', 'jayden', 'sofia', 'michael', 'andrew', 'lily', 'benjamin']

In [118]:
def rank(st, we, n):
    name_list = st.lower().split(',')
    for name in name_list:
        name_numb = []
        for char in name:
            name_numb.append(ord(char)-96)
        return name_numb

In [119]:
rank(st_1, we_1, n_1)

[1, 4, 4, 9, 19, 15, 14]

In [120]:
def rank(st, we, n):
    name_list = st.lower().split(',')
    for name in name_list:
        name_numb = []
        for char in name:
            name_numb.append(ord(char)-96)
        return sum(name_numb)

In [121]:
rank(st_1, we_1, n_1)

66

In [142]:
def rank(st, we, n):
    name_str = st.lower().split(',')
    name_list = []
    for name in name_str:
        name_numb = []
        for char in name:
            name_numb.append(ord(char)-96)
        name_list.append(sum(name_numb))
    return name_list

In [143]:
rank(st_1, we_1, n_1)

[66, 59, 50, 51, 65, 58, 68]

In [182]:
def rank(st, we, n):
    name_str = st.lower().split(',')
    name_list = []
    for name in name_str:
        name_numb = []
        for char in name:
            name_numb.append(ord(char)-96)
        name_list.append(sum(name_numb) + len(name_numb))
    return name_list

In [183]:
rank(st_1, we_1, n_1)

[73, 65, 55, 58, 71, 62, 76]

In [223]:
def rank(st, we, n):
    name_str = st.lower().split(',')
    name_list = []
    for name in name_str:
        name_numb = []
        for char in name:
            name_numb.append(ord(char)-96)
        name_list.append(sum(name_numb) + len(name_numb))
    weight_list = []
    for i in we:
        weight_list.append(we[i])
    return weight_list, we

In [224]:
rank(st_1, we_1, n_1)

([3, 1, 2, 3, 4, 2, 1], [4, 2, 1, 4, 3, 1, 2])

In [276]:
def rank(st, we, n):
    name_str = st.lower().split(',')
    name_list = []
    for name in name_str:
        name_numb = []
        for char in name:
            name_numb.append(ord(char)-96)
        name_list.append(sum(name_numb) + len(name_numb))
    weight_list = []
    for i in we:
        weight_list.append(name_list[i]*we[i])
    return name_list, we, weight_list

In [277]:
rank(st_1, we_1, n_1)

([73, 65, 55, 58, 71, 62, 76],
 [4, 2, 1, 4, 3, 1, 2],
 [213, 55, 130, 213, 232, 130, 55])

In [272]:
def rank(st, we, n):
    name_str = st.lower().split(',')
    name_list = []
    for name in name_str:
        name_numb = []
        for char in name:
            name_numb.append(ord(char)-96)
        name_list.append(sum(name_numb) + len(name_numb))
    weight_list = []
    for i in we:
        weight_list.append(i * name_list[i])
    return name_list, we, weight_list

In [273]:
rank(st_1, we_1, n_1)

([73, 65, 55, 58, 71, 62, 76],
 [4, 2, 1, 4, 3, 1, 2],
 [284, 110, 65, 284, 174, 65, 110])

In [275]:
73*4, 65*2, 55*1, 58*4, 71*3, 62*1, 76*2

(292, 130, 55, 232, 213, 62, 152)

In [305]:
def rank(st, we, n):
    name_str = st.lower().split(',')
    name_list = []
    for name in name_str:
        name_numb = []
        for char in name:
            name_numb.append(ord(char)-96)
        name_list.append(sum(name_numb) + len(name_numb))
    weight_list = []
    for i in range(0, len(we)): 
        weight_list.append(we[i] * name_list[i])
    return weight_list, name_str

In [306]:
rank(st_1, we_1, n_1)

([292, 130, 55, 232, 213, 62, 152],
 ['addison', 'jayden', 'sofia', 'michael', 'andrew', 'lily', 'benjamin'])

In [307]:
def rank(st, we, n):
    name_str = st.lower().split(',')
    name_list = []
    for name in name_str:
        name_numb = []
        for char in name:
            name_numb.append(ord(char)-96)
        name_list.append(sum(name_numb) + len(name_numb))
    weight_list = []
    for i in range(0, len(we)): 
        weight_list.append(we[i] * name_list[i])
    name_dict = {name_str[i]: weight_list[i] for i in range(len(name_str))} 
    return name_dict

In [308]:
rank(st_1, we_1, n_1)

{'addison': 292,
 'jayden': 130,
 'sofia': 55,
 'michael': 232,
 'andrew': 213,
 'lily': 62,
 'benjamin': 152}

In [309]:
def rank(st, we, n):
    name_str = st.lower().split(',')
    name_list = []
    for name in name_str:
        name_numb = []
        for char in name:
            name_numb.append(ord(char)-96)
        name_list.append(sum(name_numb) + len(name_numb))
    weight_list = []
    for i in range(0, len(we)): 
        weight_list.append(we[i] * name_list[i])
    name_dict = {name_str[i]: weight_list[i] for i in range(len(name_str))} 
    return sorted(name_dict.items(), key=lambda x: x[1], reverse=True)

In [310]:
rank(st_1, we_1, n_1)

[('addison', 292),
 ('michael', 232),
 ('andrew', 213),
 ('benjamin', 152),
 ('jayden', 130),
 ('lily', 62),
 ('sofia', 55)]

In [321]:
def rank(st, we, n):
    name_str = st.lower().split(',')
    name_list = []
    for name in name_str:
        name_numb = []
        for char in name:
            name_numb.append(ord(char)-96)
        name_list.append(sum(name_numb) + len(name_numb))
    weight_list = []
    for i in range(0, len(we)): 
        weight_list.append(we[i] * name_list[i])
    name_dict = {name_str[i]: weight_list[i] for i in range(len(name_str))} 
    name_dict = sorted(name_dict.items(), key=lambda x: x[1], reverse=True)
    return name_dict, name_dict[n-1]

In [322]:
rank(st_1, we_1, n_1)

([('addison', 292),
  ('michael', 232),
  ('andrew', 213),
  ('benjamin', 152),
  ('jayden', 130),
  ('lily', 62),
  ('sofia', 55)],
 ('benjamin', 152))

In [350]:
def rank(st, we, n):
    name_str = st.lower().split(',')
    name_list = []
    for name in name_str:
        name_numb = []
        for char in name:
            name_numb.append(ord(char)-96)
        name_list.append(sum(name_numb) + len(name_numb))
    weight_list = []
    for i in range(0, len(we)): 
        weight_list.append(we[i] * name_list[i])
    name_dict = {name_str[i]: weight_list[i] for i in range(len(name_str))} 
    name_dict = sorted(name_dict.items(), key=lambda x: x[1], reverse=True)
    return name_dict[n-1][0].title()

In [351]:
rank(st_1, we_1, n_1)

'Benjamin'

In [352]:
rank(st_2, we_2, n_2)

'Lagon'

In [16]:
def rank(st, we, n):
    name_str = st.lower().split(',')
    if st == "":
        return "No participants"
    elif n > len(name_str):
        return "Not enough participants"
    else:
        name_list = []
        for name in name_str:
            name_numb = []
            for char in name:
                name_numb.append(ord(char)-96)
            name_list.append(sum(name_numb) + len(name_numb))
        weight_list = []
        for i in range(0, len(we)): 
            weight_list.append(we[i] * name_list[i])
        name_dict = {name_str[i]: weight_list[i] for i in range(len(name_str))} 
        name_dict = sorted(name_dict.items(), key=lambda x: x[1], reverse=True)
        return name_dict[n-1][0].title()

In [17]:
rank(st_1, we_1, n_1)

'Benjamin'

In [18]:
rank(st_2, we_2, n_2)

'Lagon'

In [19]:
rank(st_3, we_3, n_3)

'Not enough participants'

In [20]:
rank(st_4, we_4, n_4)

'No participants'

In [21]:
# failed on alphabetical tie

In [22]:
rank(st_5, we_5, n_5) # should be 'Abe'

'Bea'

In [37]:
def rank(st, we, n):
    name_str = st.lower().split(',')
    if st == "":
        return "No participants"
    elif n > len(name_str):
        return "Not enough participants"
    else:
        name_list = []
        for name in name_str:
            name_numb = []
            for char in name:
                name_numb.append(ord(char)-96)
            name_list.append(sum(name_numb) + len(name_numb))
        weight_list = []
        for i in range(0, len(we)): 
            weight_list.append(we[i] * name_list[i])
        name_dict = {name_str[i]: weight_list[i] for i in range(len(name_str))}
        name_dict_list = sorted(name_dict.items(), key=lambda x: x[1], reverse=True)
        #if len(name_dict.values()) == len(set(name_dict.values())):
        return name_dict, name_dict_list, #name_dict[n-1][0].title()

In [38]:
rank(st_5, we_5, n_5)

({'bea': 33, 'abe': 33, 'cea': 12}, [('bea', 33), ('abe', 33), ('cea', 12)])

In [39]:
# wrong
rank(st_1, we_1, n_1)

({'addison': 292,
  'jayden': 130,
  'sofia': 55,
  'michael': 232,
  'andrew': 213,
  'lily': 62,
  'benjamin': 152},
 [('addison', 292),
  ('michael', 232),
  ('andrew', 213),
  ('benjamin', 152),
  ('jayden', 130),
  ('lily', 62),
  ('sofia', 55)])

In [42]:
def rank(st, we, n):
    name_str = st.lower().split(',')
    if st == "":
        return "No participants"
    elif n > len(name_str):
        return "Not enough participants"
    else:
        name_list = []
        for name in name_str:
            name_numb = []
            for char in name:
                name_numb.append(ord(char)-96)
            name_list.append(sum(name_numb) + len(name_numb))
        weight_list = []
        for i in range(0, len(we)): 
            weight_list.append(we[i] * name_list[i])
        name_dict = {name_str[i]: weight_list[i] for i in range(len(name_str))}
        name_dict_list = sorted(name_dict.items(), key=lambda x: x[1], reverse=True)
        #if len(name_dict.values()) == len(set(name_dict.values())):
        return name_dict, name_dict_list, name_dict_list[n-1][0].title()

In [43]:
rank(st_5, we_5, n_5)

({'bea': 33, 'abe': 33, 'cea': 12},
 [('bea', 33), ('abe', 33), ('cea', 12)],
 'Bea')

In [44]:
rank(st_2, we_2, n_2)

({'lagon': 54, 'lily': 310}, [('lily', 310), ('lagon', 54)], 'Lagon')

In [65]:
def rank(st, we, n):
    name_str = st.lower().split(',')
    if st == "":
        return "No participants"
    elif n > len(name_str):
        return "Not enough participants"
    else:
        name_list = []
        for name in name_str:
            name_numb = []
            for char in name:
                name_numb.append(ord(char)-96)
            name_list.append(sum(name_numb) + len(name_numb))
        weight_list = []
        for i in range(0, len(we)): 
            weight_list.append(we[i] * name_list[i])
        name_dict = {name_str[i]: weight_list[i] for i in range(len(name_str))}
        name_dict_list = sorted(name_dict.items(), key=lambda x: x[1], reverse=True)
        if len(name_dict.values()) == len(set(name_dict.values())):
            name_dict_sorted = sorted(name_dict.items(), key = lambda kv:(kv[1], kv[0]), reverse=True)
            return name_dict, name_dict_sorted, name_dict_sorted[n-1][0].title()
        else:
            return name_dict[n-1][0].title()

In [66]:
rank(st_1, we_1, n_1)

({'addison': 292,
  'jayden': 130,
  'sofia': 55,
  'michael': 232,
  'andrew': 213,
  'lily': 62,
  'benjamin': 152},
 [('addison', 292),
  ('michael', 232),
  ('andrew', 213),
  ('benjamin', 152),
  ('jayden', 130),
  ('lily', 62),
  ('sofia', 55)],
 'Benjamin')

In [67]:
rank(st_5, we_5, n_5)

KeyError: 0

In [68]:
rank(st_2, we_2, n_2)

({'lagon': 54, 'lily': 310}, [('lily', 310), ('lagon', 54)], 'Lagon')

In [ ]:
# trying to find the duplicate values
rev_dict = {} 
  
for key, value in ini_dict.items(): 
    rev_dict.setdefault(value, set()).add(key) 
      
result = [key for key, values in rev_dict.items() 
                              if len(values) > 1]

In [248]:
def rank(st, we, n):
    name_str = st.lower().split(',')
    if st == "":
        return "No participants"
    elif n > len(name_str):
        return "Not enough participants"
    else:
        name_list = []
        for name in name_str:
            name_numb = []
            for char in name:
                name_numb.append(ord(char)-96)
            name_list.append(sum(name_numb) + len(name_numb))
        weight_list = []
        for i in range(0, len(we)): 
            weight_list.append(we[i] * name_list[i])
        name_dict = {name_str[i]: weight_list[i] for i in range(len(name_str))}
        
        rev_dict = {} 
        for key, value in name_dict.items(): 
            rev_dict.setdefault(value, set()).add(key) 
        result = [key for key, values in rev_dict.items() if len(values) > 1] 
        
        if result == []:
            name_dict_list = sorted(name_dict.items(), key=lambda x: x[1], reverse=True)
            return name_dict_list[n-1][0].title()
        else:
            name_dict_sorted = sorted(name_dict.items(), key = lambda kv:(kv[0], kv[1]))
            return name_dict_sorted, name_dict_sorted[n-1][0].title()

In [249]:
rank(st_2, we_2, n_2)

'Lagon'

In [250]:
rank(st_1, we_1, n_1)

'Benjamin'

In [251]:
rank(st_5, we_5, n_5)

([('abe', 33), ('bea', 33), ('cea', 12)], 'Abe')

In [254]:
rank(st_6, we_6, n_6)

([('abe', 33), ('bea', 33), ('cea', 12)], 'Bea')

In [255]:
rank(st_7, we_7, n_7)

([('abe', 33), ('bea', 33), ('cea', 48)], 'Abe')

In [156]:
rank(st_3, we_3, n_3)

'Not enough participants'

In [157]:
rank(st_4, we_4, n_4)

'No participants'

In [ ]:
from string import ascii_lowercase

In [ ]:
ascii_lowercase()

In [ ]:
test.assert_equals(arrow_area(4,2), 2)
test.assert_equals(arrow_area(7,6), 10.5)
test.assert_equals(arrow_area(25,25), 156.25)

# Solutions